*{
    margin: 0;
    padding: 0;
    font-family: 'Josefin Sans', sans-serif;
    color: rgb(8, 8, 8);
}

body{
    background: #fffffa;
    background: url('../img/fondo6.jpg') ;
    width: 100%;
    /* height: 120%; */
}

header{
    width: 100%;
    overflow: auto;
    background: #3B3838;
    margin-bottom: 30px;
    border-top: solid #2dc208 5px;
    border-bottom: solid #2dc208 5px;
}

.wrapper{
    width: 100%;
    max-width: 1000px;
    margin: auto;
    overflow: hidden;
    /* margin-bottom: 4px; */
}

.wrapper2{
    width: 100%;
    max-width: 1000px;
    margin-left: 190px;
    overflow: hidden;
    margin-bottom: 50px;
}


.contenido{
background:none;
/* background: #fffefe; */
background-size: cover;
}

header .logo{
    color:#f2f2f2 ;
    font-size: 50px;
    line-height: 200px;
    float: left;
}

header nav li{
    float: right;
    line-height: 200px;
    list-style: none;
    
}

header nav a{
    display: inline-block;
    color: #fff;
    text-decoration: none;
    padding:10px 15px;
    line-height:normal;
    font-size: 18px;
    font-weight: bold;
    -webkit-transition:all 500ms ease ;
    -o-transition:all 500ms ease ;
    transition:all 500ms ease;
}

header nav a:hover{
    background: #2dc208;
    border-radius: 50px;
    text-decoration: none;
}

.header2{
     position: fixed; /*pegado en pantalla */
    height: 100px;
}

.header2 .logo img{
  margin-top: 10px;
    line-height: 100px;
    position: fixed;
    width:110px;
    height: 60px;

}

.header2 nav li{
    line-height: 60px;
}

/* .contenido{
    padding-top: 190px;
} */


header .logo img{
    margin-top: 45px;
    line-height: 100px;
    position: fixed;
    width:280px;
    height: 140px;
}

.container col{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60vh;
}

.container col h1{
    width: 100%;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60vh;
}

@media screen and (max-width: 900px){
    header .logo,
    header nav{
        width:100%;
        text-align: left;
        line-height: 200px;
    }
    .header2{
        height: auto;
    }
    .header2 .logo,
    header nav{
        line-height: 60px;
    }
    section.tarjetas .tarjeta{
        width: 27%;
        
        } 
}


table.conespacio {
    color: #fff;
    border-collapse: separate;
    border-spacing: 30px;
}

.conespacio td {
        width: 500px;
    }
    .conespacio img {
        width: 130px;
    }
    .conespacio p {
        font-size: 20px;
    }

    .conespacio th {
        width: 800px;
    }
    .oscuro2 {
        padding: 15px;
        background-color: rgba(216, 238, 208, 0.5);
        /* opacity:0.6; */
        color: #020202;
        /* width: 400px; */
        /* margin-top: 10px; */
        margin-bottom: 10px;
    }


    
    /*footer*/
.pie-pagina{
	width: 100%;
    color: #fff;
    background: #3B3838;
    border-top: solid #2dc208 5px;
    border-bottom: solid #2dc208 5px;

}

.pie-pagina .grupo-1{
	width: 100%;
	max-width: 1900px;
	margin: auto;
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	grid-gap: 50px;
	padding: 45px 0px;
}

.pie-pagina .grupo-1 .box figure{
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}

.pie-pagina .grupo-1 .box h6 {
	/* margin-top: 2px; */
	font-size: 15px;
    color: #fff;

}


.pie-pagina .grupo-1 .box p{
	/* margin-bottom: 5px; */
	text-align: justify;
    color: #fff;
}



/*tarjetas*/
.tarjetas{
	display: flex;
	justify-content: center;/*para que las imagenes se centren, bueno el contenid0*/
	/* background: #efefef; */
}

.tarjeta img{
	width: 90px;
}

.tarjeta{
	width: 20%;
	margin:10px 30px 60px 30px; /*separacion entre las imagenes*/
	background: rgb(229, 255, 219);
	padding: 25px;
	text-align: center;
	box-shadow: 1px 1px 11px 0px #00000030;
	border-radius: 6px;
	cursor: default;
	transition: all 400ms ease;
}

.tarjeta:hover{
box-shadow: 5px 5px 20px rgba(0,0,0,0,4);
transform: translateY(-4%); /*animacion de la tarjeta*/
}

.tarjeta h1{
	font-size: 17px;
	color: #aaa;
	font-weight: 400;
}

.tarjeta p{
	line-height: 30px;
	color: #808080;
}


